@use '../utils' as *;

/*-----------------------------------------------------------------------------------

  Project Name:  Advanced Multi Wallet Digital Banking System with Virtual Card and Rewards
  Support: 
  Description:  Digibank - Advanced Multi Wallet Digital Banking System with Virtual Card and Rewards
  Version: 1.0
  
-----------------------------------------------------------------------------------

/*----------------------------------------*/
/*   Globals Default
/*----------------------------------------*/

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&display=swap');

/*----------------------------------------
  Bootstrap customize
-----------------------------------------*/
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	--bs-gutter-x: 30px;
}

@media (min-width: 1601px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1350px;
	}
}

.row {
	--bs-gutter-x: 30px;
}

.g-0,
.gx-0 {
	--bs-gutter-x: ;
}

.g-0,
.gy-0 {
	--bs-gutter-y: 0
}

.g-10,
.gx-10 {
	--bs-gutter-x: 10px;
}

.gy-12 {
	--bs-gutter-y: 12px;
}

.gy-15 {
	--bs-gutter-y: 15px;
}

.gx-15 {
	--bs-gutter-x: 15px;
}

.g-1,
.gx-1 {
	--bs-gutter-x: 0.25rem;
}

.g-2,
.gx-2 {
	--bs-gutter-x: 0.5rem;
}

.g-3,
.gx-3 {
	--bs-gutter-x: 1rem;
}

.g-20 {
	--bs-gutter-x: 20px;
	--bs-gutter-y: 20px;
}

.gy-20 {
	--bs-gutter-y: 20px;
}

.gx-20 {
	--bs-gutter-x: 20px;
}

.gy-20 {
	--bs-gutter-y: 20px;
}

.gx-24 {
	--bs-gutter-x: 24px;
}

.gy-24 {
	--bs-gutter-y: 24px;
}

.g-30,
.gx-30 {
	--bs-gutter-x: 30px;
}

.g-30,
.gy-30 {
	--bs-gutter-y: 30px;
}

.g-40,
.gx-40 {
	--bs-gutter-x: 40px;
}

.g-40,
.gy-40 {
	--bs-gutter-y: 40px;
}

.g-50,
.gx-50 {
	--bs-gutter-x: 50px;
}

.g-50,
.gy-50 {
	--bs-gutter-y: 50px;
}

.g-60,
.gy-60 {
	--bs-gutter-y: 60px;
}

.col-xs-6 {
	@media #{$xs} {
		flex: 0 0 auto;
		width: 50%;
	}

	@media #{$xxs} {
		width: 100%;
	}
}

/*----------------------------------------
  Body Overlay 
-----------------------------------------*/
.body-overlay {
	background-color: $black;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
	inset-inline-start: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s 0s ease-out;
	-moz-transition: all 0.3s 0s ease-out;
	-ms-transition: all 0.3s 0s ease-out;
	-o-transition: all 0.3s 0s ease-out;
	transition: all 0.3s 0s ease-out;
}

.body-overlay.opened {
	opacity: 0.7;
	visibility: visible;
}

.pages-default-glows {
	.glow-one {
		position: fixed;
		right: 0;
		top: 0;
	}

	.glow-two {
		position: fixed;
		left: 0;
		top: 0;
	}

}

/*----------------------------------------
  Mfp customize
-----------------------------------------*/
.mfp-iframe-holder {
	.mfp-content {
		line-height: 0;
		width: 100%;
		max-width: 1280px;

		@media #{$xxl,$x3l} {
			max-width: 1000px;
		}

		@media #{$xl} {
			max-width: 850px;
		}

		@media #{$lg} {
			max-width: 820px;
		}

		@media #{$md} {
			max-width: 750px;
		}
	}
}

.mfp-close {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);

	&:hover {
		color: var(--td-white);
		;
	}

	&::after {
		position: absolute;
		content: "\e9c7";
		height: 100%;
		width: 100%;
		font-family: 'vuesax' !important;
		font-size: 31px;
		font-weight: 200;
		inset-inline-end: -20px;
		margin-top: -25px;

		@media #{$xs,$sm,$md} {
			inset-inline-end: 15px;
			margin-top: -30px;
		}
	}
}