@use '../utils' as *;

/*----------------------------------------*/
/*   Typography scss
/*----------------------------------------*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: var(--td-ff-body);
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	color: var(--td-text-primary);
	background-color: var(--td-white);
}

.auth-overlay-bg {
	position: fixed;
	pointer-events: none;
	top: 0;
	opacity: 1;
	inset-inline-start: 0;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url(../images/bg/auth-body-bg.png);
	z-index: -1;
	background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--td-heading);
	margin-top: 0px;
	line-height: 1.3;
	margin-bottom: 0;
	word-break: break-word;
	font-weight: 700;
	font-family: var(--td-ff-heading);
}

h1,
.h1 {
	font-size: clamp(2.4rem, 6vw, 2.986rem);
	line-height: 1.2;
}

h2,
.h2 {
	font-size: clamp(2rem, 5vw, 2.488rem);
	line-height: 1.2;
}

h3,
.h3 {
	font-size: clamp(1.75rem, 4vw, 2.074rem);
	line-height: 1.3;
}

h4,
.h4 {
	font-size: clamp(1.5rem, 3vw, 1.728rem);
	line-height: 1.4;
}

h5,
.h5 {
	font-size: clamp(1.25rem, 2.5vw, 1.44rem);
	line-height: 1.5;
}

h6,
.h6 {
	font-size: clamp(1rem, 2vw, 1.2rem);
	line-height: 1.56;
}


ul {
	margin: 0px;
	padding: 0px;
}

p {
	font-size: rem(16);
	line-height: 1.5;
	color: var(--td-text-p);

	&.b1 {
		font-size: 12px;
		line-height: 1.5; // Adjusted ratio for better readability
	}

	&.b2 {
		font-size: 14px;
		line-height: 1.6; // Improved consistency
	}

	&.b3 {
		font-size: 18px;
		line-height: 1.6;
	}

	&.b4 {
		font-size: 20px;
		line-height: 1.8; // Ratio optimized
	}

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	text-decoration: none;
}

a,
.btn,
button,
img,
.transition-3,
h1,
h2,
h3,
h4,
h5,
h6 {
	@include td-transition;
}

a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover {
	text-decoration: none;
	color: inherit;
}

a,
button {
	color: inherit;
	outline: none;
	border: none;
	background: transparent;
}

.o-x-clip {
	overflow-x: clip;
}

img {
	max-width: 100%;
	object-fit: cover;
}

button {
	font-family: var(--td-ff-heading) !important;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: 0;
	font-family: var(--td-ff-body);
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

hr:not([size]) {
	border-color: rgba($black, $alpha: .1);
	opacity: 1;
	border-width: 1px;
}

*::-moz-selection {
	background: var(--td-black);
	color: var(--td-white);
	text-shadow: none;
}

::-moz-selection {
	background: var(--td-black);
	color: var(--td-white);
	text-shadow: none;
}

::selection {
	background: var(--td-black);
	color: var(--td-white);
	text-shadow: none;
}

*::-moz-placeholder {
	opacity: 1;
	font-size: 14px;
}

*::placeholder {
	opacity: 1;
	font-size: 14px;
	font-weight: 400;
}

/*---------------------------------
  1.2 Common Classes
---------------------------------*/
.w-img {
	& img {
		width: 100%;
	}
}

.m-img {
	& img {
		max-width: 100%;
	}
}

.fix {
	overflow: hidden
}

.clear {
	clear: both;
}

.f-left {
	float: left
}

.f-right {
	float: right
}

.z-index-1 {
	z-index: 1;
}

.z-index-11 {
	z-index: 11;
}

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

.position-absolute {
	position: absolute;
}

.include-bg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.hr-1 {
	border-top: 1px solid rgb(232, 232, 232);
}

.x-clip {
	overflow-x: clip;
}

.o-visible {
	overflow: visible;
}

.valign {
	@include flexbox();
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}