@use '../../utils' as *;

/*----------------------------------------*/
/* Key Features styles
/*----------------------------------------*/
.key-features-shapes {
    .shape-one {
        position: absolute;
        right: 3.5%;
        bottom: 30%;
        z-index: -1;

        img {
            width: 142px;

            @media #{$xs} {
                width: 80px;
            }
        }

        @media #{$xxl,$x3l} {
            right: 0;
        }
    }

    .shape-two {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    .shape-three {
        position: absolute;
        top: 92px;
        left: 0;
        z-index: -1;

        img {
            width: 462px;

            @media #{$xxl,$x3l} {
                width: 300px;
            }

            @media #{$xs,$sm} {
                width: 30%;
            }
        }
    }

    .shape-four {
        position: absolute;
        left: 25%;
        top: 120px;
        z-index: -1;
        @media #{$xs,$sm,$md} {
            display: none;
        }
    }

    .shape-five {
        position: absolute;
        right: 25%;
        top: 120px;
        transform: rotate(88deg);
        @media #{$xs,$sm,$md} {
            display: none;
        }
    }
}

.key-features-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 30px;

    @media #{$xl} {
        grid-template-columns: repeat(3, 1fr);
    }


    @media #{$lg} {
        grid-template-columns: repeat(2, 1fr);
    }

    @media #{$xs,$sm,$md} {
        grid-template-columns: 1fr;
        place-items: center;
    }
}

.key-features-box {
    position: relative;
    width: 308px;
    height: 308px;
    z-index: 1;
    text-align: center;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media #{$xs} {
        margin: 0 auto;
    }

    @media #{$xxs} {
        width: 100%;
    }

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(../images/bg/hexagon.png);
        background-repeat: no-repeat;
        top: 50%;
        left: calc(50% + 20px);
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media #{$xs} {
            left: calc(50% + 10px);
        }
    }

    &:nth-child(2n) {
        margin-top: 65px;
        @media #{$xs,$sm} {
            margin-top: 0px;
        }
    }

    .icon {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .description {
        font-size: 18px;
        font-weight: 500;
        color: rgba($white, $alpha: 0.8);
    }
}