@use '../../utils' as *;

/*----------------------------------------*/
/* Pricing styles
/*----------------------------------------*/
.price-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.pricing-item {
    backdrop-filter: blur(4px);
    transition: .3s;
    z-index: 20;
    background: #5243c2;
    border-radius: 16px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    position: relative;
    margin-top: 22px;
    margin-left: 22px;

    .inner {
        padding: 30px 18px 20px;
        position: relative;
        z-index: 1;
        transform: translateX(-40px);
        width: calc(100% + 40px);
        margin-top: -40px;
        background-color: var(--td-white);
        border-radius: 8px;

        .info-badge {
            border-radius: 2px;
            padding: 4px 12px 4px 12px;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: #dadada;
            background: linear-gradient(94.71deg, rgb(37, 140, 244) 0%, rgb(244, 37, 244) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(0, 0, 0, 0);
            z-index: 1;
            position: absolute;
            right: 7px;
            top: 7px;
            min-width: 80px;
            text-align: center;

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(37, 140, 244, 0.1);
                z-index: -1;
                @include border-radius(8px);
            }

            &::before {
                position: absolute;
                content: "";
                inset: 0;
                @include border-radius(8px);
                padding: 1px;
                background: linear-gradient(94.71deg, rgba(37, 140, 244, 0.2) 0%, rgba(244, 37, 244, 0.2) 100%);
                -webkit-mask: linear-gradient(var(--td-white) 0 0) content-box, linear-gradient(var(--td-white) 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                z-index: -1;
            }
        }
    }

    .plan-heading {
        margin-bottom: 13px;
        padding-bottom: 18px;
        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            content: "";
            height: 1px;
            width: 100%;
            bottom: 0;
            left: 0;
            background: linear-gradient(94.71deg, rgba(37, 140, 244, 0.2) 0%, rgba(244, 37, 244, 0.2) 100%);
            z-index: -1;
        }

        strong {
            background: linear-gradient(94.71deg, rgb(37, 140, 244) 0%, rgb(244, 37, 244) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(0, 0, 0, 0);
            font-size: 30px;
            font-weight: 700;
            display: inline-block;
            margin-bottom: 18px;
            line-height: 1;
            background-size: 200% 200%;
        }

        sub {
            color: #222;
            font-size: 14px;
            font-weight: 500;
            position: relative;
            top: 0px;

        }

        .title {
            position: relative;
            display: block;
            font-size: 16px;
            font-weight: 700;
        }
    }

    .plan-lists {
        ul {
            li {
                list-style: none;

                &:not(:last-child) {
                    margin-bottom: 13px;
                }

                .list-info {
                    display: flex;
                    align-self: start;
                    column-gap: 6px;
                    img {
                        flex: 0 0 auto;
                        width: 18px;
                        height: 18px;
                        position: relative;
                        top: 3px;
                    }
                    span {
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--td-heading);
                    }
                }
            }
        }
    }
}


.pricing-tab {
    .nav-tabs {
        background: var(--td-white);
        border-radius: 8px;
        padding: 10px 10px 10px;
        row-gap: 10px;
        column-gap: 10px;

        .nav-link {
            height: 44px;
            padding: 0px 26px;
            font-size: 16px;
            font-weight: 700;
            position: relative;
            z-index: 1;
            color: var(--td-heading);
            @media #{$xxs} {
                font-size: 14px;
            }
            &.active {
                color: var(--td-heading);
                &::before {
                    opacity: 1;
                }
            }

            &::before {
                position: absolute;
                content: "";
                inset: 0;
                @include border-radius(8px);
                width: 100%;
                height: 100%;
                background: linear-gradient(94.71deg, rgba(37, 140, 244, 0.16) 0%, rgba(244, 37, 244, 0.16) 100%);
                z-index: -1;
                opacity: 0;
            }
        }
    }
}