@use '../../utils' as *;

/*----------------------------------------*/
/* Our solutions styles
/*----------------------------------------*/

.reward-redeem-item {
    position: relative;
    backdrop-filter: blur(36.63px);
    padding: 30px 30px;
    text-align: center;
    z-index: 1;
    &::before {
        border-radius: 16px;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: url(../images/reward-redeem/badge-bg.png) no-repeat center;
        top: 0;
        left: 0;
        z-index: -1;
        background-size: 100% 100%;
    }
    .reward-badge {
        margin-bottom: 10px;
        img {
            width: 60px;
        }
    }
    .reward-contents {
        .title {
            font-size: 20px;
            color: var(--td-white);
        }
        .point {
            margin-top: 4px;
            color: #a1f425;
            font-size: 14px;
            font-weight: 500;
        }
    }
    .td-btn {
        margin-top: 20px;
    }
}