@use '../../utils' as *;

/*----------------------------------------*/
/*  Blog styles
/*----------------------------------------*/

.single-blog-item {
    border-radius: 16px;
    transition: .3s;
    box-shadow: 0px 15px 40px 0px rgba(1, 11, 60, .1);
    display: flex;
    overflow: hidden;
    @media #{$xxs} {
        flex-direction: column;
    }

    .blog-thumb {
        overflow: hidden;
        border-radius: 16px 0px 0 16px;
        min-width: 252px;
        @media #{$xs,$lg} {
            min-width: 200px;
        }
        @media #{$xxs} {
            border-radius: 16px;
        }

        img {
            height: 100%;
            width: 100%;
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    .blog-contents {
        padding: 30px 30px;
        @media #{$xs,$lg} {
            padding: 20px 20px;
        }

        .date {
            margin-bottom: 14px;
            display: inline-flex;
            font-size: 14px;
            align-items: center;
            gap: 6px;
            svg * {
                fill: #7A7A7A;
            }
        }

        .title {
            margin-bottom: 20px;
            line-height: 1.3;
            font-size: 20px;
            @media #{$xs,$lg} {
                font-size: 18px;
            }

            a {
                background-image: linear-gradient(87.17deg, rgba(37, 140, 244, 1) 0%, 4.19%, rgba(244, 37, 244, 1) 100% 80.98%);
                -webkit-background-clip: text;
                background-clip: text;
                color: var(--td-heading);
                &:hover {
                    -webkit-text-fill-color: rgba(0, 0, 0, 0);
                }
            }
        }
    }

    .blog-date {
        background: linear-gradient(95.42deg, rgba(108, 115, 255, 0.2) 0%, rgba(56, 64, 247, 0.2) 100%);
        border-radius: 8px 8px 8px 16px;
        padding: 10px 12px 10px 12px;
        flex-direction: row;
        height: 39px;
        backdrop-filter: blur(2px);
        display: inline-flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0px;

        &::before {
            position: absolute;
            content: "";
            inset: 0;
            @include border-radius(16px);
            padding: 1px;
            background: linear-gradient(95.42deg, $primary 0%, $primary-alt 100%);
            -webkit-mask: linear-gradient(var(--td-white) 0 0) content-box, linear-gradient(var(--td-white) 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            z-index: -1;
            border-radius: 8px 8px 8px 16px;
        }

        span {
            color: varP(--td-pale-cornflower-blue);
            font-size: 13px;
            font-weight: 700;
        }
    }

    &:hover {
        .blog-thumb {
            img {
                transform: scale(1.05);
            }
        }
    }
}