@use "../utils" as *;

/*----------------------------------------*/
/* Alert Styles
/*----------------------------------------*/

.td-alert-box {
	max-width: 420px;
	@include border-radius(12px);
	padding: 30px 24px 30px;
	box-shadow: 0px 0px 1px 0px rgba(96, 96, 96, .1), 0px 12px 24px -6px rgba(96, 96, 96, .15);
	z-index: 1;
	position: relative;
	transition: .3s;
	display: flex;
	column-gap: 12px;
    align-items: self-start;
    background: #f6fff9;
    border-style: solid;
    border-color: #48c1b5;
    padding: 20px 20px;

	@media #{$xs,$sm} {
		padding: 14px 14px 14px;
	}

	.alert-content {
		@include flexbox();
		column-gap: 16px;
		flex-grow: 1;

		@media #{$xs} {
			column-gap: 12px;
		}

		.alert-title {
			font-size: 18px;
			line-height: 1.2;
			font-weight: 700;

			@media #{$xs,$sm} {
				font-size: 16px;
			}
		}

		.alert-message {
			margin-top: 8px;
			font-size: 14px;
			color: #2f3f53;
		}
	}

	.alert-icon {
		flex: 0 0 auto;

		img {
			width: 20px;
			height: 20px;
		}
	}

	.close-btn {
		color: var(--td-white);

		svg {
			width: 20px;
			height: 20px;
		}
	}

	&.hidden {
		opacity: 0;
		transform: translateY(-50%, 20px);
		pointer-events: none;
	}
	&.has-success {
		background: #f6fff9;
		border-color: #48c1b5;
	}
	&.has-danger {
		background: #fff5f3;
		border-color: #f4b0a1;
	}
	&.has-alert {
		background: #fff8ec;
		border-color: #f7d9a4;
	}
	&.has-attention {
		background: #f5f9ff;
		border-color: #9dc0ee;
	}
}

.alert-show-status {
	position: fixed;
	top: 16px;
	right: 16px;
	z-index: 999;

	@media #{$xs} {
		width: calc(100% - 32px);
	}
}