@use '../utils' as *;

/*----------------------------------------*/
/*  Animations styles
/*----------------------------------------*/
// Animate ripple
@keyframes popupBtn {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  50% {
    transform: scale(1.4);
    opacity: 0.3;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

// sticky-animation
@keyframes sticky {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

// pulse btn
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($white, $alpha: 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 45px rgba($white, $alpha: 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba($white, $alpha: 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($white, $alpha: 0.4);
    box-shadow: 0 0 0 0 rgba($white, $alpha: 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 45px rgba($white, $alpha: 0);
    box-shadow: 0 0 0 45px rgba($white, $alpha: 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba($white, $alpha: 0);
    box-shadow: 0 0 0 0 rgba($white, $alpha: 0);
  }
}