@use '../utils' as *;

/*----------------------------------------*/
/* Breadcrumb styles
/*----------------------------------------*/

.td-breadcrumb-area {
    margin-top: 93px;
    background-repeat: no-repeat;
    padding: 100px 0 100px;
    background-size: cover;

    @media #{$xs,$sm,$md} {
        margin-top: 72px;
        background-repeat: no-repeat;
        padding: 80px 0 80px;
    }

    @media #{$xs,$sm} {
        padding: 60px 0 60px;
    }
}

.breadcrumb-title {
    font-size: 30px;
}