@use "../utils" as *;

/*----------------------------------------*/
/* Section Title  
/*----------------------------------------*/
.section-title-wrapper {
    &.is-white {
        .section-title {
            color: var(--td-white);
        }

        .description {
            color: rgba($white, $alpha: 0.72);
        }
    }
}

.section-title {
    font-size: 48px;

    @media #{$sm},
    #{$md} {
        font-size: 32px;
    }

    @media #{$xs} {
        font-size: 26px;
    }

    @media #{$xxs} {
        font-size: 22px;
    }
}

.section-subtitle {
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #dadada;
    background: linear-gradient(94.71deg, rgb(37, 140, 244) 0%, rgb(244, 37, 244) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    z-index: 1;

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(94.71deg, rgba(37, 140, 244, 0.1) 0%, rgba(244, 37, 244, 0.1) 100%);
        z-index: -1;
        @include border-radius(8px);
    }

    &::before {
        position: absolute;
        content: "";
        inset: 0;
        @include border-radius(8px);
        padding: 1px;
        background: linear-gradient(94.71deg, rgba(37, 140, 244, 0.2) 0%, rgba(244, 37, 244, 0.2) 100%);
        -webkit-mask: linear-gradient(var(--td-white) 0 0) content-box, linear-gradient(var(--td-white) 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
    }
}