@forward 'alert';
@forward 'table';
@forward 'select2';
@forward 'badge';
@forward 'buttons';
@forward 'offcanvas';
@forward 'section-title';
@forward 'tab';
@forward 'forms';
@forward 'animation';
@forward 'shortcodes';
@forward 'background';
@forward 'breadcrumb';
@forward 'preloader';
@forward 'cookies';
@forward 'pagination';
@forward 'back-to-top';
@forward 'color';