@use '../../utils' as *;

/*----------------------------------------*/
/*  Header Styles
/*----------------------------------------*/

// Header transparent
.header-transparent {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  z-index: 99;
}

// Active-sticky
.active-sticky {
  position: fixed !important;
  top: 0;
  z-index: 111;
  inset-inline-end: 0;
  inset-inline-start: 0;
  width: 100%;
  animation: sticky 0.3s;
  -webkit-animation: sticky 0.3s;
  background-color: var(--td-cetacean-blue-2) !important;
  box-shadow: 0 2px 4px rgba(7, 37, 68, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

// Mode-switcher
.mode-switcher {
  button {
    position: relative;
    top: -3px;
  }
}

// Heder one styles
.header-style-one {
  border-bottom: 1px solid rgba($white, $alpha: 0.1);
  padding: 20px 0;

  @media #{$xs,$sm,$md} {
    padding: 16px 0;
  }

  &.active-sticky {
    border: 0;

    .td-main-menu {
      background-color: transparent;
      border-color: transparent;
    }
  }

  .header-logo {
    img {
      height: 30px;

      @media #{$xs} {
        height: 26px;
      }
    }
  }

  .header-inner {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
  }

  .header-quick-actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
    @media #{$lg} {
      column-gap: 16px;
    }

    .header-btns-wrap {
      display: flex;
      align-items: center;
      column-gap: 16px;
    }
  }
}

// Language css
.language-nav {
  background-color: transparent !important;
  position: relative;
  height: 40px;
  border-radius: 40px;
  @include inline-flex();
  align-items: center;
  justify-content: center;

  .translate_wrapper {
    &.active {
      .more_lang {
        display: block;
        position: absolute;
        background-color: #2F1D58;
        top: 47px;
        inset-inline-end: 0;
        @include border-radius(8px);
        border: 1px solid rgba(171, 178, 225, 0.3);
        padding: 6px 6px;
        width: 196px;
        box-shadow: 0px 2px 8px 0px rgba($black, $alpha: 0.2);
        z-index: 1;

        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          inset: 0;
          @include border-radius(8px);
          padding: 1px;
          background: linear-gradient(94.71deg, rgba(37, 140, 244, 1) 0%, rgba(244, 37, 244, 1) 100%);
          -webkit-mask: linear-gradient(var(--td-white) 0 0) content-box, linear-gradient(var(--td-white) 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          z-index: -1;
        }
      }
    }
  }

  .current_lang {
    cursor: pointer;
    text-transform: uppercase;
    overflow: hidden;

    .lang {
      .flag-icon {
        width: 24px;
        height: 24px;
        @include inline-flex();
        align-items: center;
        background-size: cover;
        border-radius: 40px;
      }

      svg * {
        stroke: var(--td-white);
      }
    }
  }

  .lang.selected {
    display: none;
  }

  .lang {
    span.lang-txt {
      @include inline-flex();
      margin-inline-start: 6px;
      margin-inline-end: 6px;
      font-size: 14px;
      font-weight: 500;
      color: var(--td-white);
      font-family: var(--td-ff-heading);
    }

    span {
      span {
        color: rgba($white, $alpha: 0.6);
        font-weight: 400;
        margin-inline-start: 5px;
        text-transform: capitalize
      }
    }
  }

  .more_lang {
    transform: translateY(-20px);
    opacity: 0;
    cursor: pointer;
    display: none;
    transition: all 0.3s cubic-bezier(0.25, 1.15, 0.35, 1.15);

    .lang {
      padding: 6px 6px;
      @include flexbox();
      @include border-radius(6px);

      i {
        width: 24px;
        height: 24px;
        @include inline-flex();
        align-items: center;
        background-size: cover;
        border-radius: 40px;
      }

      &:hover {
        background: rgba(37, 140, 244, 0.12);
        color: var(--td-white);

        span {
          color: var(--td-white);
        }
      }
    }
  }

  .more_lang {
    &.active {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}